* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Oswald', Arial, sans-serif;
    background-color: #bdb5b5;
    text-align: center;
    display: flex;
    flex-direction: column;
}

html, body {
  height: 100%;
}

h2, h3, p {
  text-align: left;
}

h3 {
  padding-top: 1rem;
}

.row, .footer, header {
  padding: 10px 16px;
}

li {
  padding-top: .5rem;
}


.row {
  flex: 1 0 auto;
}

.col {
  padding: 1.5rem 1rem;
  background-color: white;
}

p {
  padding: .5rem 0;
}

.footer {
  flex-shrink: 0;
  background-color: black;
  color: white;
  font-size: 1.5em;
}

footer a:link {
  text-decoration: none;
  color: white;
}

footer a:visited {
  color: #f2f2f2;
}

/*Styles for main navbar*/
/* Add a background color to the top navigation and set flex grow and shrink values to prevent navbar from disappearing. */
.topnav {
  background-color: #1d1ad1;
  overflow: hidden;
  flex: 0 0 auto;
}
/* Styles for the links inside the navigation bar */
.topnav a:not(:first-child) {display:none;}

.topnav a:first-child {
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 10px 16px;
  float: left;
}

.topnav a.icon {
  float:right;
  display:block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 10px 16px;
}
/* Responsive class is added by JavaScript when a user clicks on the hamburger menu icon.*/
.topnav.responsive {
  position: relative;
}

.topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
  color:#f2f2f2;
  text-decoration: none;
  padding: 10px 16px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(131, 142, 161);
  color: black;
}

/* End of styles for main navbar*/

.headerContent {
  display: flex;
  flex-direction: column;
  text-align: left;
}


/* Styles for images */
img {
  display: flex;
}

.responsiveImg {
  width: 100%;
  height: auto;
}

#logo {
  max-height: 250px;
}

.reviewImg {
max-height: 300px;
}

/* Styles for "Read More" buttons and hidden sections*/
.more {
  display: none;
}

.more.additionalInfo {
  display: inline-block;
}

.moreParent {
  text-align: right;
}

button {
  padding: .5rem;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #eee;
}

/* Primary section styles */
.primary {
  flex: 1;
  text-align: center;
}

/*Styles for Reviews page*/

#primeReview a {
  text-decoration: none;

}

#primeReview article:nth-of-type(odd) {
  background-color: black;
  color: white;
}

#primeReview article:nth-of-type(even) {
  background-color: yellow;
}

#primeReview article:nth-of-type(odd) a {
  color: white;
}
 

.reviews {
  padding: .5rem 10% 2rem 10%;
}

.reviewH2 {
  padding-bottom: 1rem;
}

/* Styles for Form/Contact Us page */
.form {
  flex: 1;
  display: inline-block;
  background: white;
}

.primaryForm {
  text-align: left;
  padding: 1em 15%;
  display: block;
}

.input {
  width: 100%;
}

label {
  display: block;
}

.formGroup {
  margin-top: 1em;
}

/* Styles for Techniques page */
.strokes {
  text-align: left;
  padding-left: 1.5rem;
}

/* Base styles for footer social section*/
.social {
  padding: .5em;
  font-size: .75em;
}


/*Modern clearfix*/ /*might remove this*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}




/* Media Queries */

/*breakpoint at 768px.*/
@media (min-width: 768px) {
  /*Displays the menu items that are hidden in the hamburger menu by default.*/
  .topnav a:not(:first-child) {display: block;}

  /*Styling for topnav menu items when screen size is 768px wide or wider. Included ".topnav.responsive a" to account for user leaving the hamburger menu open before re-sizing the screen width.*/
  .topnav a, .topnav.responsive a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 10px 16px;
  }

  /*Hides the hamburger menu icon when screen reaches 768px*/
  .topnav a:last-child {
    display: none;
  }

  /*Display two columns at 768px*/
  .row {
    display: flex;
  }
 
  .col  {
    flex: 1 50%;
  }
  
  .row {
    flex-wrap: wrap;
  }

  header {
    display: flex;
  }

  .headerContent {
    padding-left: 1em;
    flex: 2 1 auto;
    width: auto;
  }

/* Caps image height when screens reach 768px or wider */

  #mainAirbrush {
    height: 200px;
  }

  .social {
    text-align: right;
  }


}

/*Breakpoint at 1025px.*/
@media (min-width: 1025px) {

  .col {
    flex-basis: 0;
  }

  .mainContent {
    flex-grow: 2;
  }

  .responsiveImg {
    max-width: 1025px;
    margin-right: auto;
    margin-left: auto;
  }

  .reviewH2 {
    text-align: center;
  }

}